@{
    ViewData["Title"] = "Gabriel Rodrigues de Moraes";
}
<h1>@ViewData["Title"]</h1>

<p style="margin-top: 30px"><font size="5">Aluno de Análise e Desenvolvimento de Sistemas na Universidade Paulista.</font></p>

<div class="row container">
    <div class="img">
        <img src="~/images/author.jpg" height="350" width="275"/>
    </div>
    <div>
        <div style="margin-top: 20px">
            <p style="margin-left: 30px"><font size="5">Campinas - SP | 22/03/1985</font></p>
        </div>
        <div style="margin-top: 40px">
            <p style="margin-left: 30px"><font size="5">Estagiário de desenvolvimento de softwares na IBM, em</font></p>
            <p style="margin-left: 30px"><font size="5">início de sua carreira tecnológica após 10 anos de</font></p>
            <p style="margin-left: 30px"><font size="5">trabalho no ramo da aviação civil.</font></p>
        </div>
    </div>
</div>


<p style="margin-top: 30px"><font size="5"><a href="https://www.linkedin.com/in/gabrielmoraes-br/" target="_blank" rel="noopener noreferrer">LinkedIn</a> | 
    <a href="https://www.credly.com/users/gabrielmoraes-br/badges" target="_blank" rel="noopener noreferrer">Creadly</a> | 
    <a href="https://github.com/gabrielmoraes-br" target="_blank" rel="noopener noreferrer">GitHub</a> | 
    <a href="https://www.instagram.com/gabrielmoraes.br/" target="_blank" rel="noopener noreferrer">Instagram</a></font></p>

<p style="margin-top: 60px"><font size="3"><a asp-action="">Voltar para a página inicial</a>.</font></p>


